In [2]:
import pandas as pd
import numpy as np

from sklearn.datasets import load_wine

wine = load_wine()

df = pd.DataFrame(data=np.c_[wine['data'], wine['target']],
                  columns=wine.feature_names + ['target'])

df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0

In [3]:
len(df)

178

In [4]:
df.target.unique()

array([0., 1., 2.])

In [9]:
df = df.drop(df[df['target'] == 2].index)
df.target.unique()

array([0., 1.])

In [11]:
df = df.sample(frac=1)
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
14,14.38,1.87,2.38,12.0,102.0,3.30,3.64,0.29,2.96,7.50,1.20,3.00,1547.0,0.0
140,12.93,2.81,2.70,21.0,96.0,1.54,0.50,0.53,0.75,4.60,0.77,2.31,600.0,2.0
24,13.50,1.81,2.61,20.0,96.0,2.53,2.61,0.28,1.66,3.52,1.12,3.82,845.0,0.0
19,13.64,3.10,2.56,15.2,116.0,2.70,3.03,0.17,1.66,5.10,0.96,3.36,845.0,0.0
72,13.49,1.66,2.24,24.0,87.0,1.88,1.84,0.27,1.03,3.74,0.98,2.78,472.0,1.0

In [12]:
num_train = int(0.8 * len(df))

train_x = df[df.columns[:-1]][:num_train]
train_y = df.target[:num_train]

test_x = df[df.columns[:-1]][num_train:]
test_y = df.target[num_train:]

In [13]:
len(train_x), len(train_y), len(test_x), len(test_y)

(142, 142, 36, 36)

In [14]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(train_x, train_y)

preds = model.predict(test_x)

np.mean(preds == test_y)

0.9722222222222222