In [1]:
type(123)

int

In [2]:
type(1.34)

float

In [3]:
type('abc')

str

Variable(변수) -> 우리가 원하는 value(값)들을 저장한 이름

In [4]:
yejin_age = 29

after_year = 3

In [5]:
yejin_age + after_year

32

In [6]:
type(yejin_age)

int

In [7]:
yejin_age * 3

87

In [8]:
yejin_age - 10

19

In [9]:
yejin_age / 3

9.666666666666666

In [10]:
yejin_age // 3

9

In [11]:
sentence = 'Python\'s easy \nsecond line'

In [12]:
print(sentence)

Python's easy
second line

In [13]:
num_list = [1, 2, 3, 4, 5, 6]

In [14]:
num_list

[1, 2, 3, 4, 5, 6]

In [15]:
num_tuple = (1, 2, 3, 4, 5, 6)

In [16]:
num_tuple

(1, 2, 3, 4, 5, 6)

In [17]:
num_list[5]

6

In [18]:
new_tuple = (5, 7, 4, 1, 7, 8)

In [19]:
new_tuple

(5, 7, 4, 1, 7, 8)

In [20]:
num_list.append('a')

In [21]:
num_list

[1, 2, 3, 4, 5, 6, 'a']

## Slice

In [22]:
# indexing
print(num_list[0])
print(num_list[2])

1
3

In [23]:
# Slicing
num_list[2:6]

[3, 4, 5, 6]

## Dictionary

In [24]:
example_dict = {'first': 123, 'joon age': 30, 'joon address':'suji-gu', 'friend_list': ['jay', 'kane', 'leon']}

In [25]:
example_dict

{'first': 123,
 'joon age': 30,
 'joon address': 'suji-gu',
 'friend_list': ['jay', 'kane', 'leon']}

In [26]:
example_dict['first']  # <- first는 key라고 부르고, 그에 대한 결과는 value라고 부른다

123

In [27]:
example_dict['friend_list']

['jay', 'kane', 'leon']

# Boolean

In [28]:
1 == 1

True

In [29]:
1 != 1

False

In [30]:
1 != 2

True

In [31]:
yejin_age

29

In [32]:
yejin_age == 29

True

In [33]:
joon_age = 30

In [34]:
yejin_age > joon_age

False

# IF

In [35]:
if yejin_age > joon_age:
    print('bigger')
else:
    print('wrong')

wrong

# For

In [36]:
# friend list에서 하나하나씩 가져와서 원하는 조건으로 다룰 수 있도록 한다. 
friend_list = ['abe', 'bee', 'charles']

for friend in friend_list:
    print(friend)
    print('who is next? \n')

abe
who is next?

bee
who is next?

charles
who is next?

# 함수 Function

In [37]:
def plus(a, b):
    return a + b

In [38]:
plus(2, 5)

7

In [39]:
plus(5, 8)

13

# Module 임포트 하기

In [40]:
import mod1

In [41]:
mod1.safe_sum(1, 2)

3

In [42]:
sum([1, 2])

3