In [3]:
name = "JOON"

if name == "JOON":
    print('이름은 JOON이 맞다')  # if가 True이면 이 줄이 작동
else:
    print("JOON이 아니다")  # if가 False 이면 여기가 작동

이름은 JOON이 맞다

In [4]:
if True:
    print("If")
else:
    print("Else")

If

In [8]:
if name != "JOON":
    print("Works!")
else:
    pass

In [10]:
if 'J' in name:
    print("J is included")
else:
    print("J is not included")

J is included

In [14]:
# 조건문에서 무엇이라도 있는 string이나, 숫자 1 이상이면 True라고 합니다. 

if 1:
    print("True")
else:
    print("False")

print()

if 0:
    print("True")
else:
    print("False")

True

False

In [15]:
if 'abc':
    print("True")
else:
    print("False")

True

In [16]:
if '':
    print("True")
else:
    print("False")

False

In [19]:
alphabets = ['a', 'b', 'c']

if len(alphabets) > 0:
    print("True")
else:
    print("False")

True

In [21]:
10 > 9, 10 < 9

(True, False)

In [22]:
10 != 9

True

In [24]:
10 >= 9

True

In [25]:
name

'JOON'

In [27]:
if 'J' in name and 'O' not in name:
    print("True")
else:
    print("False")

False

In [32]:
name =='JOON'

True

In [35]:
status = None

status is None

True

In [38]:
name = 'JOON'

if 'J' in name:
    print("J is included")
elif 'O' in name:
    print("O is included")
elif 'N' in name:
    print("N is included")
else:
    pass

J is included

# For문

In [39]:
alphabets = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

for letter in alphabets:
    print(letter)

a
b
c
d
e
f
g

In [40]:
name = 'JOON'

for n in name:
    print(n)

J
O
O
N

In [41]:
alphabets = ['a', 'b', 'c', 'd', ['aa', 'ab', 'ac', 'ad']]

for l in alphabets:
    print(l)

a
b
c
d
['aa', 'ab', 'ac', 'ad']

In [42]:
alphabets = [('a', 'b'), ('c', 'd'), ('e', 'f')]

for l in alphabets:
    print(l)

('a', 'b')
('c', 'd')
('e', 'f')

In [43]:
# range

num_list = [0, 1, 2, 3, 4, 5, 6, 7]
for n in num_list:
    print(n)

0
1
2
3
4
5
6
7

In [44]:
for n in range(9):
    print(n)

0
1
2
3
4
5
6
7
8

In [45]:
alphabets = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

print(len(alphabets))

7

In [47]:
num_alphabets = len(alphabets)

for n in range(num_alphabets):
    print(alphabets[n])

a
b
c
d
e
f
g

In [49]:
for n in alphabets:
    print(n)

a
b
c
d
e
f
g

In [50]:
for i in range(2, 9):
    print(i)

2
3
4
5
6
7
8

# 함수 def

In [51]:
def get_height(weight):
    return 100 + weight

In [52]:
get_height(50)

150

In [53]:
def summation(numbers):
    # numbers는 리스트여야 한다. 
    sum_num = 0
    for num in numbers:
        sum_num += num
    return sum_num

In [71]:
age = 0

In [72]:
age = age + 1

In [73]:
age += 1
print(age)

2

In [74]:
numbers = [5, 20, 4, 3, 60]

summation(numbers)

92

In [75]:
def print_name(name):
    print(name)

In [76]:
print_name("JOON")

JOON

In [77]:
def summation(numbers=[1, 2, 3, 4, 5]):
    # numbers는 리스트여야 한다. 
    sum_num = 0
    for num in numbers:
        sum_num += num
    return sum_num

In [78]:
summation()

15

In [79]:
def print_JOON():
    print("JOON")

In [81]:
print_JOON()

JOON